@page
@model AtosLearning.Pages.CrearCuentaModel
@{
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Raleway&display=swap">
    <link href="css/crearcuenta.css" rel="stylesheet" />
</head>
<body>
    <div class="logo-container">
        <img src="ATOSLogo.png" width="180px" height="180px" />
        <h1>AtosLearning</h1>
    </div>

    <div class="rectangle">
        <p class="crear-cuenta">Crear cuenta</p>
        <form method="post" asp-page-handler="OnPost">
            <input class="name" placeholder="Nombre" name="Nombre" required />
            <input class="name" placeholder="Apellido" name="Apellido" required />
            <input type="email" placeholder="Correo" name="Correo" required />
            <input type="password" placeholder="Contraseña" name="Contraseña" required />

            <div class="multiple-choice">
                <label for="profesor">Soy:</label>
                <input type="radio" id="profesor" name="Role" value="Profesor" required />
                <label for="profesor">Profesor</label>
                <input type="radio" id="alumno" name="Role" value="Alumno" required />
                <label for="alumno">Alumno</label>
            </div>

            <div class="button-container">
                <button type="submit" class="green-button">Crear</button>
                <button type="button" onclick="location.href='/IniciarSesion'">Tengo cuenta</button>
            </div>
        </form>
    </div>

    @if (Model.Role == "Alumno")
    {
        <script>window.location.href = '/PlataformaAlumnos';</script>
    }
    else if (Model.Role == "Profesor")
    {
        <script>window.location.href = '/Exam';</script>
    }
</body>
</html>
