@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <div class="row align-items-center">
        <div class="col text-center">
            <button type="button" class="btn rounded-button" style="width: 300px; height: 200px; border-color: #3B3468">Poner foto de portada</button>
        </div>
        <div class="col">
            <input asp-for="NewExam.Name" class="form-control exam-field" placeholder="Nombre del examen">
            <input asp-for="NewExam.Description" class="form-control exam-field" placeholder="Descripción">
            <input class="form-control" placeholder="Temario">
        </div>
        <div class="col">
            <form method="post" asp-page-handler="SetSelectedSubject">
                <button class="btn btn-secondary btn-lg dropdown-toggle" id="subject-dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    @if (Model.SelectedSubject != null)
                    {
                        @Model.SelectedSubject.Name
                    }
                    else
                    {
                        <span>Selecciona una materia</span>
                    }
                </button>
                <ul class="dropdown-menu">
                    @foreach (var subject in Model.Subjects)
                    {
                        <li>
                            <button class="dropdown-item" type="submit" name="subjectId" value="@subject.ID">@subject.Name</button>
                        </li>
                    }
                </ul>
            </form>
        </div>
    </div>
    <div class="row align-items-center text-center">
        <div class="col-4">
            <div class="card bg-light mx-auto" style="height: 300px; width: 200px; overflow-y:  auto; margin-left: 20px">
                <div class="card-body">
                    <ul class="btn list-group list-group-flush" id="questions-list">
                        <li class="list-group-item border-bottom" style="background-color: transparent">Pregunta 1</li>
                    </ul>
                </div>
            </div>
            <button onclick="addQuestion()">Añadir Pregunta</button>
        </div>
        <div class="col">
            
            <div class="col">
                <input type="text" class="custom-text-field" placeholder="Escribe la pregunta">
            </div>
            <div class="container my-4">
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6 mb-3 d-flex justify-content-center">
                        <input class="btn rounded-button" style="border-bottom-width: 2px; width: 100%; height: 100px; border-radius: 24px; border-color: blue" placeholder="Opción A">
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6 mb-3 d-flex justify-content-center">
                        <input class="btn rounded-button" style="border-bottom-width: 2px; width: 100%; height: 100px; border-radius: 24px; border-color: green" placeholder="Opción B">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6 mb-3 d-flex justify-content-center">
                        <input class="btn rounded-button" style="border-bottom-width: 2px; width: 100%; height: 100px; border-radius: 24px; border-color: orange"  placeholder="Opción C">
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6 mb-3 d-flex justify-content-center">
                        <input class="btn rounded-button" style="border-bottom-width: 2px; width: 100%; height: 100px; border-radius: 24px; border-color: red" placeholder="Opción D">
                    </div>
                </div>
            </div>
            <div class="row">
                <form>
                    <button class="btn btn-secondary btn-lg dropdown-toggle" id="second-dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Respuesta correcta
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Opción A</a></li>
                        <li><a class="dropdown-item" href="#">Opción B</a></li>
                        <li><a class="dropdown-item" href="#">Opción C</a></li>
                        <li><a class="dropdown-item" href="#">Opción D</a></li>
                    </ul>
                    <input class="btn rounded-button" style="border-bottom-width: 2px; width: 30%; height: 50px; border-radius: 24px; border-color: blue"  placeholder="Guardar Pregunta">
                </form>
            </div>
        </div>
    </div>
</div>