@page
@model IndexModel
@using Microsoft.AspNetCore.Components.Web


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Atos Learning</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Raleway&display=swap">
    <link href="css/site.css" rel="stylesheet" />
</head>
<body>

    <div class="right-aligned">
        <img src="imagen_landingpage.png" width="725px" height="590px"></img>
    </div>

    <div class="logo-container">
        <img src="ATOSLogo.png" width="180px" height="180px" />
        <h1>AtosLearning</h1>
    </div>


    <h2>
        ¿Qué es <br />
        AtosLearning?
    </h2>
    <p>
       ¡Bienvenido a la mejor plataforma para aprender!<br />
        Disponible tanto para alumnos <br />
        como para profesores. ¡Diviertete! <br />

    </p>

    <form action="/IniciarSesion">
    <input type="submit" value="Iniciar Sesión" class="submit-button"/>
    </form>

    <form action="/CrearCuenta">
    <input type="submit" value="Crear una Cuenta" class="tengocuenta-button" />
     </form>


    <!-- Button trigger modal -->
    <button type="button" class="btn nombremateria" data-bs-toggle="modal" data-bs-target="#privacidad">Licencia</button>
    <!-- Modal -->
    <div class="modal fade" id="privacidad" tabindex="-1" aria-labelledby="privLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="privLabel" >Licencia de software</h5>
                </div>
                <div class="modal-body">
                    <p style="color:black; font-size:20px;">
                        1.1.- Licencia<br />
                        La Atribución 4.0 Internacional (CC BY 4.0) es una licencia de Creative Commons que permite el uso, el intercambio y <br/>
                        la adaptación gratuitos de obras creativas, como imágenes, música, texto y otros medios. Es una de varias licencias <br />
                        proporcionadas por Creative Commons, una organización sin fines de lucro que promueve el intercambio abierto de trabajos <br/>
                        creativos e intelectuales.<br/>
                        1.2.- Derechos de autor<br/>
                        Como estudiantes pertenecientes al Tecnológico de Monterrey, colaborando activamente con el socio formador ATOS, es <br/>
                        importante tener en cuenta que la licencia CC BY 4.0 otorga una serie de derechos y libertades a los usuarios, pero <br />
                        también impone la obligación de atribuir adecuadamente al autor original. Si deseas utilizar una obra bajo esta licencia,<br/>
                        es fundamental cumplir con los términos de atribución establecidos y así garantizar un uso adecuado del contenido proporcionado.<br/>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>



    <script src="js/script.js"></script>

</body>

</html>
