@page
@model IniciarSesionModel
@{
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Raleway&display=swap">
    <link href="css/iniciarsesion.css" rel="stylesheet" />
</head>
<body>


   <div class="w-100 d-flex flex-row align-items-center mb-4">
       <img src="ATOSLogo.png" height="100px" />
       <h1 class="fs-3 d-inline mb-0">AtosLearning</h1>
   </div>


<div class="rectangle mx-auto">
    <p class="crear-cuenta">Ingresar</p>
    <form id="loginForm" method="post" asp-page="/IniciarSesion">
        <input type="email" placeholder="Correo" name="Email" />
        <input type="password" placeholder="Contraseña" name="Password" id="passwordField"/>

        <div class="button-container">
            <button id="signIn" type="button" class="green-button" onclick="submitForm()">Ingresar</button>

            <button type="button" onclick="location.href='/CrearCuenta'">Crear una Cuenta</button>
        </div>
    </form>
</div>

<script>
function submitForm() {
    document.getElementById('loginForm').submit();
}
var input = document.getElementById("passwordField");
    input.addEventListener("keypress", function(event) {
      if (event.key === "Enter") {
        event.preventDefault();
        document.getElementById("signIn").click();
      }
    });
</script>

</body>
</html>
