@page
@model AtosLearning.Pages.IndexModel
@{
}


<head>
    <meta charset="utf-8" />
    <title>Homepage</title>
    <link href="css/resultado.css" rel="stylesheet" />
    <link href="css/homepage.css" rel="stylesheet" />
</head>
<header class="min-vw-100 display-flex flex-row justify-content-between align-items-center px-5">
    <div class="my-flex-row">
        <div class="my-flex-column me-1">
            <h2 class="m-0 blue d-inline-block fs-1">AtosLearning</h2>
            <h4 class="yellow d-inline-block fs-">Resultados</h4>
        </div>
        <div class="my-flex-column justify-content-center mb-1">
            <h5 class="blue">Profesores</h5>
        </div>
    </div>
    <div class="my-flex-row">
        <div class="my-flex-column align-items-center me-2">
            <h4>Arturo Duran<</h4>
            <h5>Ver mi perfil</h5>
        </div>
        <div class="my-flex-column align-items-center justify-content-center">
            <img id="user-img" src="images/profile.png" alt="profile"/>
        </div>
    </div>
</header>
<body>
<div class="p-5 text-center bg-image"
     style="
      background-image: url('https://lh3.googleusercontent.com/drive-viewer/AFGJ81pH_WqC0Ow1ZLtoTtccir0FflK7fAnw3TSPw76T8sVl1ALfaLZavkN6eQ8b31wvTLE9ogW94lpHwDW1ekg9D6nre7vCMw=s2560');
      height: 200px;
      width: 1500px;
    ">
    
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
        <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white">
                <h1 class="mb-3">Álgebra 1</h1>
            </div>
        </div>
    </div>
</div>


</body>

