@page
@model AtosLearning.Pages.IndexModel
@{
}


<head>
    <meta charset="utf-8" />
    <title>Homepage</title>
    <link href="css/resultado.css" rel="stylesheet" />
</head>
<header>
    <div id="header-left">
        <div id="header-left-top">
            <h2 id="text-logo" class="blue">AtosLearning</h2>
            <h3 class="blue">Profesores</h3>
        </div>
        <div class="header-left-bottom">
            <h3 id="page-title" class="yellow">Home page</h3>
        </div>
    </div>
    <div id="header-right">
        <div id="right-side-name">
            <h3>Thomas Rubio</h3>
            <h4>Ver mi perfil</h4>
        </div>
        <div id="right-side-img">
            <img id="user-img" src="images/profile.png" alt="profile">
        </div>
    </div>
</header>
<body>
    <div class="p-5 text-center bg-image"
         style="
      background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/041.webp');
      height: 400px;
    ">
        <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
            <div class="d-flex justify-content-center align-items-center h-100">
                <div class="text-white">
                    <h1 class="mb-3">Heading</h1>
                    <h4 class="mb-3">Subheading</h4>
                    <a class="btn btn-outline-light btn-lg" href="#!" role="button">Call to action</a>
                </div>
            </div>
        </div>
    </div>


</body>

