@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");


html {
    position: relative;
    min-height: 100%;
    scroll-behavior: smooth;
}
#goback {
    cursor: pointer;
}


@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.principal{
    max-width:100% !important;
    margin: 0px auto !important;
    padding:0px 20px 0px 50px;
}

.row.display-flex {
    display: flex;
    flex-wrap: wrap;
}

.row.display-flex > [class*='col-'] {
     display: flex;
     flex-direction: column;
}

header {
    border-bottom: 1px solid #808080;
    padding: 0;
    display: flex;
    justify-content: space-between;
    margin:0px 0px;
}


.my-flex-row {
    display: flex;
    flex-direction: row;
}

.my-flex-column {
    display: flex;
    flex-direction: column;
}

body {
    margin: 0px 0px;
    background-color: white;
    padding: 0;
    justify-content: space-between;
}
.nombremateria {
    background-color: #FFC20E;
    color: black;
    border-radius: 15px;
    border: 2px;
    margin: 1px 2px 1px 2px;
    padding:3px 8px 3px 9px;
    width: fit-content;
    height: fit-content;
    margin-top: 10px;
}

.crearmateria {
    background-color: #8833AA;
    color: white;
    border-radius: 20px;
    border: 0px;
    width: fit-content;
    height: fit-content;
    margin-top: 20px;
    padding:6px 9px 6px 9px;
}


.button-rectangle {
    box-sizing: border-box;
    width: 319px;
    height: 238px;
    left: 87px;
    top: 219px;
    background: #FBFCFD;
    border-width: 1px 1px 5px 1px;
    border-style: solid;
    border-color: #9456CF;
    border-radius: 59px;
    font-size: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



#header-left {
    margin-left: 1rem;
}

#header-left-top {
    display: flex;
    align-items: flex-end;
}

#page-title {
    font-size: 1.5rem;
}

#text-logo {
    margin-right: 5px;
    font-size: 3rem;
}

#header-right {
    display: flex;
    margin-right: 2rem;
}

#right-side-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#right-side-img {
    margin-top:2rem;
    margin-left: 1rem;
}

#user-img {
    height: 4rem;
    width:4rem;
}


.blue {
    color: #2571AF;
}

.yellow {
    color: #FFC715;
}

h2 {
    color: #FFC715;
    font-size: 50px;
    margin-left: 10px;
    margin-top: 40px;
}


.search-bar-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    
}

.buscar {
    background-color: #8833AA;
    color: white;
    border-radius: 20px;
    border: 0px;
    width: 100px;
    height:30px;
    margin-top:10px;
}

.search-bar {
    padding: 8px;
    border: 1px solid #8833AA;
    border-radius: 20px;
    font-size: 25px;
    width: 450px;
    height: 47px;
    padding-left: 20px;
}

.columnabuscar {
    margin-right: 20px;
    margin-top: 90px;
    margin-left:50px;
}


.button-rectangle {
    padding: 8px 16px;
    cursor: pointer;
    margin-top: 60px;
    margin-left: 0px;
    margin-bottom:60px;
    box-sizing: border-box;
    width: 319px;
    height: 238px;
    background: #FBFCFD;
    border-width: 1px 1px 4px 1px;
    border-style: solid;
    border-color: #9456CF;
    border-radius: 59px;
    font-style: normal;
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
    line-height: 38px;
}

.p{
    font-size:30px;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

:root {
    --primary: #ec994b;
    --white: #ffffff;
    --bg: #f5f5f5;
}


::-webkit-scrollbar {
    width: 1.3rem;
}

::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background: #797979;
    transition: all 0.5s ease-in-out;
}

    ::-webkit-scrollbar-thumb:hover {
        background: #222224;
    }

::-webkit-scrollbar-track {
    background: #f9f9f9;
}

body {
    font-size: 1rem;
    background: var(--bg);
}

.container {
    max-width: 80%;
    padding: 0 1rem;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.section-heading {
    font-size: 3rem;
    color: var(--primary);
    padding: 2rem 0;
}

#tranding {
    padding: 4rem 0;
}

@media (max-width:1440px) {
    #tranding {
        padding: 7rem 0;
    }
}

#tranding .tranding-slider {
    height: 40rem;
    padding: 2rem 0;
    position: relative;
}

@media (max-width:500px) {
    #tranding .tranding-slider {
        height: 33rem;
    }
}

.tranding-slide {
    width: 25rem;
    height: 30rem;
    position: relative;
}

@media (max-width:500px) {
    .tranding-slide {
        width: 16rem !important;
        height: 24rem !important;
    }

        .tranding-slide .tranding-slide-img img {
            width: 16rem !important;
            height: 24rem !important;
        }
}

.tranding-slide .tranding-slide-img img {
    width: 25rem;
    height: 30rem;
    border-radius: 2rem;
    object-fit: cover;
}

.tranding-slide .tranding-slide-content {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}


.tranding-slide-content .food-name {
    font-size: 3rem;
}

.tranding-slide-content .food-price {
    position: absolute;
    top: 1rem;
    right: 2rem;
    font-size: 3rem;
    color: var(--white);
}

.tranding-slide-content .tranding-slide-content-bottom {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    color: var(--white);
}

.food-rating {
    padding-top: 1rem;
    display: flex;
    gap: 1rem;
}

.rating ion-icon {
    color: var(--primary);
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
    display: none;
}

.tranding-slider-control {
    position: relative;
    bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .tranding-slider-control .swiper-button-next {
        left: 58% !important;
        transform: translateX(-58%) !important;
    }

@media (max-width:990px) {
    .tranding-slider-control .swiper-button-next {
        left: 70% !important;
        transform: translateX(-70%) !important;
    }
}

@media (max-width:450px) {
    .tranding-slider-control .swiper-button-next {
        left: 80% !important;
        transform: translateX(-80%) !important;
    }
}

@media (max-width:990px) {
    .tranding-slider-control .swiper-button-prev {
        left: 30% !important;
        transform: translateX(-30%) !important;
    }
}

@media (max-width:450px) {
    .tranding-slider-control .swiper-button-prev {
        left: 20% !important;
        transform: translateX(-20%) !important;
    }
}

.tranding-slider-control .slider-arrow {
    background: var(--white);
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    left: 42%;
    transform: translateX(-42%);
    filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

    .tranding-slider-control .slider-arrow ion-icon {
        font-size: 2rem;
        color: #222224;
    }

    .tranding-slider-control .slider-arrow::after {
        content: '';
    }

.tranding-slider-control .swiper-pagination {
    position: relative;
    width: 12rem;
    bottom: 1rem;
}

    .tranding-slider-control .swiper-pagination .swiper-pagination-bullet {
        filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
    }

    .tranding-slider-control .swiper-pagination .swiper-pagination-bullet-active {
        background: var(--primary);
    }
