body{
    margin:0px;
    padding: 0px;
    background-color: #0173AF;
}
.right-aligned {
    margin-left: 640px;
    position: absolute;
    margin-top: 140px;

}
.logo-container {
    display: flex;
    align-items: center;
}
h1 {
    color: white;
    font-size: 59px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}
h2{
    color: #FFC715;
    font-size: 86px;
    margin-left: 28px;
    margin-top: 40px;
}
p {
    color: white;
    font-size: 23px;
    margin-top: 30px;
    margin-left: 75px;
    margin-bottom:30px;
    font-family: 'Raleway', sans-serif;
    
}
.submit-button {
    top: 68px;
    background-color: black;
    color: white;
    width: 250px;
    border-radius: 10px;
    padding: 10px 20px;
    margin-left: 130px;
    font-family: 'Raleway', sans-serif;
}
.submit-button:hover {
    background-color: #2b2b2b;
}

.olvidarcontraseña {
    color: white;
    font-size: 15px;
    position: absolute;
    bottom: 2px;
    margin-right: 15px;
    left: 11%;
    margin-top: 6px;
}
intro{
    margin-left:7px;
}
.tengocuenta-button {
    position: absolute;
    border:none;
    top: 68px;
    right: 117px;
    background-color: #D9D9D9;
    color: #3B3486;
    padding: 10px 20px;
 /*   font-size: 16px;*/
    border-radius: 10px;
    width: 267px;
    font-family: 'Raleway', sans-serif;
}
    .tengocuenta-button:hover {
        background-color: #9f9f9f;
        color: black;
    }
