html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.rounded-button {
  box-sizing: border-box;
  background: #FBFCFD;
  border-width: 1px 1px 4px 1px;
  border-style: solid;
  border-color: #9456CF;
  border-radius: 59px;
  margin: 10px;
}

.custom-text-field {
  background-color: #ffffff;
  border: 2px solid #9456CF;
  border-radius: 20px;
  padding: 10px;
  width: 90%;
  height: 50px;
}

.dropdown-toggle {
  background-color: #ffffff;
  border-radius: 24px;
  color: black;
  border-color: black;
}

.dropdown-toggle:hover {
  background-color: #ffffff;
  color: black;
  border-color: black;
}

.dropdown-toggle:focus {
  background-color: #ffffff;
  color: black;
  border-color: black;
}

.dropdown-toggle:after {
  color: gray;
}

.exam-field {
  margin-bottom: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;


}
header {
  border-bottom: 1px solid #000000;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
}

#header-left {
  margin-left: 2rem;
}
#header-left-top {
  display: flex;
  align-items: flex-end;
}

#page-title {
  font-size: 1.5rem;
}
#text-logo {
  margin-right: 10px;
  font-size: 2rem;
}

#header-right {
  display: flex;
  margin-right: 2rem;
}

#right-side-name{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#right-side-img {
  margin-left: 1rem;
}

#user-img {
  height: 4rem;
}

.blue {
  color: #2571AF;
}

.yellow {
  color: #FFC715;
}

body{
  margin:0px;
  padding: 0px;
  background-color: #0173AF;
}
.right-aligned {
  margin-left: 640px;
  position: absolute;
  margin-top: 140px;

}
.logo-container {
  display: flex;
  align-items: center;
}
h1 {
  color: white;
  font-size: 59px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}
h2{
  color: #FFC715;
  font-size: 95px;
  margin-left: 28px;
  margin-top: 40px;
}
p {
  color: white;
  font-size: 23px;
  margin-top: 30px;
  margin-left: 75px;
  font-family: 'Raleway', sans-serif;

}
.submit-btn {
  background-color: black;
  color: white;
  height: 30px;
  width: 250px;
  border-radius: 10px;
  padding: 3px 20px;

  margin-left: 130px;
  font-family: 'Raleway', sans-serif;
}
.olvidarcontraseña {
  color: white;
  font-size: 15px;
  position: absolute;
  bottom: 2px;
  margin-right: 15px;
  left: 11%;
  margin-top: 6px;
}
intro {
  margin-left:7px;
}
.tengocuenta {
  position: absolute;
  top: 68px;
  right: 117px;
  background-color: #D9D9D9;
  border: none;
  color: #3B3486;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 10px;
  width: 267px;
  font-family: 'Raleway', sans-serif;
}
